body
    margin: 0
    padding: 0
    font-family: Arial
nav
    background-color: #00014d
    width: 100%
    height: 80px
    display: flex
    justify-content: space-around
    align-items: center
    .bootstrap
        color: #eaebf1
    .log
        color: #6d6d98
        span
            text-indent: 10px
